# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg
.Python

# venv
.venv/
venv/
env/

# IDE
.idea/
.vscode/
*.code-workspace

# OS / misc
.DS_Store
Thumbs.db

# Django
db.sqlite3
staticfiles/
media/

# Secrets
.env
.env.* 
*.secret
*.key